{% extends "default.html" %}
{% block title %} Tabla pcs {% endblock %}
{% block content %}

<div class="content">
    
  <h2>TABLA DE pcs</h2>
<table>
<tr>
    <th>marca</th>
    <th>tipo</th>
    <th>sistema</th>
    <th>procesador</th>
</tr>
{%if pcs%}
    {% for pc in pcs%}
        <tr>
            <td>{{pc.marca}}</td>
            <td>{{pc.tipo}}</td>
            <td>{{pc.sistema}}</td>
            <td>{{pc.procesador}}</td>
        </tr>
    {%endfor%}
{%else%}
<tr>
    <td colspan="4">No hay ordenadores registrados</td>
</tr>
{%endif%}


</table>
</div>
{% endblock %}