<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static',path='css/stylee.css') }}">
</head>
<body>
    <h1>Bienvenido a la Gestión de Computadoras</h1>
    <!--------------------MENU--------------------------->
<div class="topnav">
  {% if menu %}
    {% if menu.home %}
      <a href="{{ url_for('get_pcs') }}">VER TABLA </a>
    {% endif %}
    {% if menu.add %}
      <a href="{{ url_for('form_add_pcs') }}">AÑADIR </a> 
      <a href="{{ url_for('form_del_pcs') }}">ELIMINAR </a>
      <a href="{{ url_for('form_update_sistema') }}">ACTUALIZAR </a>
    {% endif %}
  {% endif %}

  <!---------------CONTENIDO-------------------->
</div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
<!-----------------FOOTER------------------------------->
    <div class="footer">
        <p>Gabriel Lungu - IMPLANTACIÓN DE APLICACIONES WEB</p>
    </div>
    
</body>
</html>