{% extends "default.html" %}

{% block title %}Eliminar computadoras{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/stylee.css') }}">
{% endblock %}

{% block content %}
  <div class="col-sm-9">
    <br>
    <h1>COMPUTADORA ELIMINADA CORRECTAMENTE</h1>
    <br>
    
    <h1>Eliminar otra computadora si lo deseas</h1> 
    <br>
    <form action="{{ url_for('del_pcs') }}" method="post">
      <select name="pc_marca" required>
        {% for pc in pcs %}
          <option value="{{ pc.marca }}">{{ pc.marca }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Eliminar">
    </form>

    <br>
    <a href="{{ url_for('get_pcs') }}">Ver lista de computadoras</a>
    <a href="{{ url_for('read_root') }}">Volver al inicio</a>
  </div>
  <br>

{% endblock %}