{% extends "default.html" %}

{% block title %}Actualizar Computadora{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/stylee.css') }}">  <!-- Mantengo el mismo CSS -->
{% endblock %}

{% block content %}
<div class="col-sm-9">
    <h1>Actualizar Información de la Computadora</h1> 
    <br>

    <form action="{{ url_for('update_sistemas') }}" method="post"> <!-- EL URL_FOR ES LO QUE PONES EN EL DEF DEL MAIN -->
        <select name="marca" required>
            {% for pc in pcs %}
                <option value="{{ pc.marca }}">{{ pc.marca }}</option>
            {% endfor %}
        </select>
        <input type="number" name="tipo" placeholder="Nuevo Tipo" required>
        <input type="text" name="sistema" placeholder="Nuevo Sistema Operativo" required>
        <input type="text" name="procesador" placeholder="Nuevo Procesador" required>
        <input type="submit" value="Actualizar">
    </form>
</div>
{% endblock %}