{% extends "default.html" %}

{% block title %}Eliminar Computadoras{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">  <!-- Mantengo el mismo CSS -->
{% endblock %}

{% block content %}
    <h1>Eliminar Computadoras</h1> 
    <br>
    <form action="{{ url_for('del_pcs') }}" method="post"> <!-- EL URL_FOR ES LO QUE PONES EN EL DEF DEL MAIN -->
        <select name="pc_marca">
            {% for pc in pcs %}
                <option value="{{ pc.marca }}">{{ pc.marca }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Eliminar">
    </form>
{% endblock %}